.addService {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  white-space: nowrap;
  padding-right: 10px;
}

.staffName {
  font-weight: 500;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.scaffold {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  padding: 0px 30px 16px 28px;
}
