<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Swiper Vertical Slider</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div
          class="swiper-slide"
          style="background-image: url(assets/img/1.jpg)"
        >
          <!-- <img src="assets/img/1.jpg" alt="" /> -->
          <div class="image-overlay-content">
            <h2>Website Service</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Perspiciatis, saepe reiciendis et neque harum repudiandae eum modi
              quis facere quod nisi vero sint voluptas magnam odit sed ullam hic
              ea.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <!-- <img src="assets/img/2.jpg" alt="" /> -->
          <div class="slide-content">
            <h2>Welcome to my website one</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Accusantium sunt repellendus nobis perferendis inventore officiis
              deleniti obcaecati delectus fugiat sequi necessitatibus ut,
              dignissimos temporibus cumque iusto odio quasi quaerat
              exercitationem!
            </p>
          </div>
        </div>
        <div
          class="swiper-slide"
          style="background-image: url(assets/img/3.jpg)"
        >
          <!-- <img src="assets/img/3.jpg" alt="" /> -->
          <div class="image-overlay-content">
            <h2>Website Service</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Perspiciatis, saepe reiciendis et neque harum repudiandae eum modi
              quis facere quod nisi vero sint voluptas magnam odit sed ullam hic
              ea.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <!-- <img src="assets/img/4.jpg" alt="" /> -->
          <div class="slide-content">
            <h2>Welcome to my website two</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Accusantium sunt repellendus nobis perferendis inventore officiis
              deleniti obcaecati delectus fugiat sequi necessitatibus ut,
              dignissimos temporibus cumque iusto odio quasi quaerat
              exercitationem!
            </p>
          </div>
        </div>
        <div
          class="swiper-slide"
          style="background-image: url(assets/img/5.jpg)"
        >
          <!-- <img src="assets/img/5.jpg" alt="" /> -->
          <div class="image-overlay-content">
            <h2>Website Service</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Perspiciatis, saepe reiciendis et neque harum repudiandae eum modi
              quis facere quod nisi vero sint voluptas magnam odit sed ullam hic
              ea.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <!-- <img src="assets/img/6.jpg" alt="" /> -->
          <div class="slide-content">
            <h2>Welcome to my website three</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Accusantium sunt repellendus nobis perferendis inventore officiis
              deleniti obcaecati delectus fugiat sequi necessitatibus ut,
              dignissimos temporibus cumque iusto odio quasi quaerat
              exercitationem!
            </p>
          </div>
        </div>
        <div
          class="swiper-slide"
          style="background-image: url(assets/img/7.jpg)"
        >
          <!-- <img src="assets/img/7.jpg" alt="" /> -->
          <div class="image-overlay-content">
            <h2>Website Service</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Perspiciatis, saepe reiciendis et neque harum repudiandae eum modi
              quis facere quod nisi vero sint voluptas magnam odit sed ullam hic
              ea.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <!-- <img src="assets/img/8.jpg" alt="" /> -->
          <div class="slide-content">
            <h2>Welcome to my website four</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Accusantium sunt repellendus nobis perferendis inventore officiis
              deleniti obcaecati delectus fugiat sequi necessitatibus ut,
              dignissimos temporibus cumque iusto odio quasi quaerat
              exercitationem!
            </p>
          </div>
        </div>
        <div
          class="swiper-slide"
          style="background-image: url(assets/img/9.jpg)"
        >
          <!-- <img src="assets/img/9.jpg" alt="" /> -->
          <div class="image-overlay-content">
            <h2>Website Service</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Perspiciatis, saepe reiciendis et neque harum repudiandae eum modi
              quis facere quod nisi vero sint voluptas magnam odit sed ullam hic
              ea.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
